body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFF5F8;
    color: #333;
    margin: 0;
    padding: 1rem;
}

header {
    background-color: #FF3366;
    color: white;
    padding: 1rem;
    text-align: center;
}

h1,
h2 {
    font-family: 'Playfair Display', serif;
}

footer {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
}